<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat Page</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body >
    <div class="header">
        <center><h3>Chat</h3> </center>
    </div>
  
    <div class="container">
   

    </div>

      <footer>
           
            <input type="text" id="message" placeholder="type your message" required style="width: 300px;" >
            <button id="sendbtn">send</button>
        
    </footer> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/chat.js"></script>
</body>
</html>