<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat Page</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body >
    <header></header>
    <div id="groups" style="overflow:scroll; height: 100%;">
        <center><h3>Groups</h3> </center>
        <br>
        <button onclick="creategrp()" style="font-size:small;">Create Group</button> 
        <br>
        <div id="grpform" style="display: none;">
        <input type="text"  id="grpname" placeholder="enter group name">
        <button onclick="grpcreated()">Create</button>
        </div>
         <br>
        <div id="grplist" style="margin-top: 20px; width: fit-content;">

        </div>
        

    </div>
    
    <div id="chat">

    <div id ="groupdetails">
      <button onclick="getallMember()">Group Details</button>
    </div>
      <div id="grouptitle" style="display: none;"> </div>

        <div class="container" >
        
   

        </div>
    

    </div>
   

      <div class="footer">

        <button onclick="logout()" style="float: left;">Log out</button>
           
        <div id="msginput" style="float: left; margin-left: 40%;">
            <input type="text" id="message" placeholder="type your message" required style="width: 300px;" >
            <button id="sendbtn">send</button>

        </div>
        
       
        </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/chat.js"></script>
</body>
</html>