body{
    background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/powerpoint-whatsapp-chat-app-background-design-template-2cb44957f5cfcf79f6918ab4b60b04c9_screen.jpg?ts=1698696084');
    background-size:cover;
}
.container{
    box-shadow: 10px 5px 5px 10px  rgb(7, 153, 102);
    margin-top: 0px;
}


.header {
    overflow: hidden;
    font-weight: bold;
    color: rgb(6, 140, 6);
    padding: 20px 10px;
    
  }

  .container{
    width: 400px;
 
    box-shadow: 5px 5px 5px 10px rgb(153, 199, 153);
    height: auto;
    padding: 10px;

  }

  footer {
    text-align: center;
    padding: 5px;
    background-color: rgb(98, 188, 98);
    color:rgb(150, 186, 150);
    margin-top: 390px;
  }
