

header {
    overflow: hidden;
    font-weight: bold;
    background-color: rgb(73, 221, 75);
    padding: 10px 10px;
    font-size: medium;   
    height: 40px;
  }

  .container{
    width: 400px;
    overflow: auto;
    max-height: 300px;
  }

  #grouptitle{
    width: 400px;
    height:50px;
    background-color: pink;
    margin-left: 27%;
    text-align: center;
    
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: rgb(101, 153, 218);
    color: white;
    text-align: center;
 }
 
  p{
    width:300px;
    font-weight: bold;
    font-size: small;
  }

  #chat{
    width: 70%;
    float: left;
    padding: 20px;
  
  }

  #groups{
    width: 30%;
     overflow:scroll;
    float: left;
    padding: 20px;
    height: 460px;
    
  }

  #groupdetails{
    
   float:left;
  
  }

  button{
    border: none;
    font-size: 15px;
  }
  
  
