body{
    background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/powerpoint-whatsapp-chat-app-background-design-template-2cb44957f5cfcf79f6918ab4b60b04c9_screen.jpg?ts=1698696084');
    background-size:cover;
}
.container{
    box-shadow: 10px 5px 5px 10px  rgb(7, 153, 102);
    margin-top: 0px;
}

input:hover{
    box-shadow: 5px 10px 5px rgb(3, 163, 54);
}
.header {
    overflow: hidden;
    font-weight: bold;
    color: rgb(6, 140, 6);
    padding: 20px 10px;
    
  }

  #password{
    color: red;
  }

  #forgotpassword
  {
    box-shadow: 10px 5px 5px 10px  rgb(7, 153, 102);
    margin-top: 0px;
    width:400px;
    padding:20px;
    align-items: center;
    margin-left: 35%;

  }